# dependencies
node_modules/

# build
dist/

#linux package
clonescriptui-linux-x64/
clonescriptui-linux-arm64/
clonescriptui-linux-armv7l/
clonescriptui-linux-ia32/

#win32 package
clonescriptui-win32-x64/
clonescriptui-win32-ia32/
clonescriptui-win32-arm64/

#mas package
clonescriptui-mas-x64/

